.main .card,nav{
    background-color: #373b69;
}

nav input{
    width: 0px !important;
    padding: 0px !important;
}
nav input.active{
    width: 250px !important;
    padding: .375rem .75rem !important;
}
@media (max-width:576px) {
    nav input.active{
        flex-basis: 100%;
        padding: .375rem .75rem !important;
    }
}
.modal{
    background-color: rgba(0, 0, 0, .6);
}
.navbar-brand{
    cursor: pointer;
}
@media (max-width:576px) {
    .form{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
}


  /* ========== start loading ========= */

.loader {
    width: 8px;
    height: 40px;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    position: relative;
    background: currentColor;
    color: #FFF;
    box-sizing: border-box;
    animation: animloader 0.3s 0.3s linear infinite alternate;
  }
  
  .loader::after, .loader::before {
    content: '';
    width: 8px;
    height: 40px;
    border-radius: 4px;
    background: currentColor;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    box-sizing: border-box;
    animation: animloader 0.3s  0.45s  linear infinite alternate;
  }
  .loader::before {
    left: -20px;
    animation-delay: 0s;
  }
  
  @keyframes animloader {
    0%   { height: 48px} 
    100% { height: 4px}
  }
  /* ========== end loading ========= */